<script>
const settings = {
  posts: '/content.json',
  properties: ['title', 'tags'],
  limit: '20',
  noResults: '<p>Ops!<br/><small>Nenhum resultado encontrado. :(</small></p>',
  resultsTitle: '<h3>Resultados encontrados</h3>'
};

const searchPage = document.querySelector('.search');
const searchResultsContainer = document.querySelector('.search__results');
const searchResultsList = document.querySelector('.search__results-list');
const searchField = document.querySelector('.search-field');
const openSearchButton = document.querySelector('.open-search');
const closeSearchButton = document.querySelector('.close-search');
const sugestionButtons = document.querySelectorAll('.search-suggestion__button');

function debounce(callback, wait) {
  let timeout;
  return (...args) => {
      const context = this;
      clearTimeout(timeout);
      timeout = setTimeout(() => callback.apply(context, args), wait);
  };
}

async function getPosts() {
  return fetch(settings.posts)
    .then(res => res.json())
    .catch(err => console.log(err));
}

function clearSearchResults(){
  searchResultsList.innerHTML = '';
}

function search(searchQuery){
  const matches = [];
  const { properties } = settings;

  console.log('searching...');
  settings.posts.forEach(post => {
    for(let index = 0; index < properties.length; index++) {
      if(post[properties[index]] !== undefined && post[properties[index]].toLowerCase().indexOf(searchQuery.toLowerCase()) !== -1){
        matches.push(post);

        // Caso encontre no post, não verifica as outras propriedades
        index = properties.length;
      }
    }
  });

  return matches;
}

function getTemplate(post) {
  return `<a class="search-results-item" href="${post.url}">
            <h4 class="search-results-item__title">${post.title}</h4>
            <p class="search-results-item__desc">${post.description}</p>
          </a>`;
}

function writeMatches(results) {
  clearSearchResults();

  console.log('results', results);

  if(results.length){
    const template = results.map((result) => getTemplate(result)).join('');
    searchResultsList.innerHTML = `${settings.resultsTitle}${template}`;
  }else{
    searchResultsList.innerHTML =  settings.noResults;
  }
}

function openSearch() {
  openSearchButton.ariaExpanded = true;
  document.querySelector('body').classList.add('search-opened');
  location.hash = 'pesquisar';
  setTimeout(function(){ searchField.focus(); }, 500);
}

function closeSearch() {
  openSearchButton.ariaExpanded = false;
  document.querySelector('body').classList.remove('search-opened');
  location.hash = '';
  searchField.value = '';
  clearSearchResults();
}

function registerEvents(){
  openSearchButton.addEventListener('click', openSearch);
  closeSearchButton.addEventListener('click', closeSearch);

  searchField.addEventListener('keyup', debounce(() => {
    if( searchField.value.length ) {
      writeMatches( search( searchField.value ));
    } else {
      clearSearchResults();
    }
  }, 300));

  searchField.addEventListener('search', function(){
    setTimeout(function(){
      if( !searchField.value.length ) {
        clearSearchResults()
      } else {
        searchField.blur();
      }
    }, 100);
  });

  sugestionButtons.forEach(suggestion => {
    suggestion.addEventListener('click', () => {
      searchField.value = suggestion.dataset.search;
      searchField.dispatchEvent(new Event('focus'));
      searchField.dispatchEvent(new KeyboardEvent('keyup',{'key':'a'}));
    });
  });
}

async function init() {
  const posts = await getPosts();
  settings.posts = posts;

  registerEvents();

  if( location.hash === '#pesquisar' ) {
    openSearch();
  }
}


// Inicia o script
init();

</script>
