<script type="text/javascript">
  const html = document.querySelector("html");
  const metaTheme = document.querySelector('meta[name=theme-color]');
  window.__theme = localStorage.getItem('theme');
  const themes = {
    light: {
      background: '#FDFDFD',
      background_alt: 'rgba(218, 214, 214, 0.3)',
      text: '#25262a',
    },
    dark: {
      background: '#25262a',
      background_alt: 'rgba(218, 214, 214, 0.1)',
      text: '#FFFFFF',
    }
  };

  function setTheme(newTheme) {
    changeColors(newTheme)
    window.__theme = newTheme;
    localStorage.setItem('theme', newTheme);
  }

  function changeColors(newTheme) {
    const themeColors = themes[newTheme];

    Object.keys(themeColors).map(function(key) {
      html.style.setProperty(`--${key}`, themeColors[key]);
    });

    metaTheme.setAttribute('content', themeColors['background']);
  }

  const newTheme = window.__theme || (isPreferredThemeDark.matches ? 'dark' : 'light');
  setTheme(newTheme);
</script>
