<!-- Toogle theme -->
<script>
  const themeToggle = document.querySelector("input[name=theme]");
  const isPreferredThemeDark = window.matchMedia('(prefers-color-scheme: dark)');
  setTheme(isPreferredThemeDark.matches ? 'dark' : 'light');

  isPreferredThemeDark.addListener(function(event) {
    alert(event.matches);
    setTheme(event.matches ? 'dark' : 'light');
    themeToggle.checked = event.matches ? true : false;
  });

  if( window.__theme === 'dark' ) {
    themeToggle.checked = true;
  }

  themeToggle.addEventListener("change", function({ target }) {
    setTheme(target.checked ? 'dark' : 'light');
  });

  setTimeout(function() {
    themeToggle.classList.add('animating');
  }, 250);
</script>
<!-- /Toogle theme -->
