/* clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.arrow-down{
  position: absolute;
  right: 10%;
  bottom: 15%;
  width: 12px;
  height: 150px;
  background-color:#005cef;

  -webkit-animation: arrow-down 3s ease-in-out;
  -moz-animation: arrow-down 3s ease-in-out;
  -o-animation: arrow-down 3s ease-in-out;
  animation: arrow-down 3s ease-in-out;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  

  &:before,
  &:after{
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 12px;
    bottom: 0;
    left: 29%;
    background-color: #005cef;
  }

  &:before{
    transform: rotate(45deg) translateX(-66%) translateY(164%);
  }

  &:after{
    transform: rotate(-45deg) translateX(-1%) translateY(-105%);
  }
}

@-webkit-keyframes arrow-down {
  0% {
      transform: translateY(0)
  }
  25%{
    transform: translateY(-25px)
  }
  50% {
    transform: translateY(0)
  }    
  100% {
    transform: translateY(0)
  }
}
@-moz-keyframes arrow-down {
  0% {
    transform: translateY(0)
  }
  25%{
    transform: translateY(-25px)
  }
  50% {
    transform: translateY(0)
  }    
  100% {
    transform: translateY(0)
  }
}

@keyframes arrow-down {
  0% {
    transform: translateY(0)
  }
  25%{
    transform: translateY(-25px)
  }
  50% {
    transform: translateY(0)
  }    
  100% {
    transform: translateY(0)
  }
}



/* general classes */
.wrap{
  width: 100%;
  max-width: 1280px;
  padding-left: 30px; 
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}

.simple-link,
.button-link{
  border: 1px solid transparent;
  padding: 10px 15px;
  display: inline-block;
  clear: both;
  transition: all 0.3s ease;
}

.simple-link{
  text-decoration: underline;
  float: right;
}

.button-link{
  text-decoration: none;
  border-radius: 5px;

  &.link-gray{
    border-color: #25262a;
    
    &:hover{
      background-color: #25262a;
      color: #FFF;
      text-decoration: none;
    }
  }
  
}

.link-white{
  color: #FFF;
  &:hover{
    border-color: #FFF;
    color: #FFF;
  }

  &:focus,
  &:visited{
    color: #FFF;
  }
}

.link-gray{
  color: #25262a;
  &:hover{
    border-color: #25262a;
    color: #25262a;
  }

  &:focus,
  &:visited{
    color: #25262a;
  }
}

.svg-icon{
  width: 20px;
}
.copyright{
  display: table;
  margin: 0 auto;
}

.post-meta{
  color: #757575;
}

.icon{
  width: 42px;
  height: 42px;
  margin: 10px;
  fill: #25262a;
  transition: all 0.3s ease;
}

pre>code.language-cmd{
  color: #FFF;
}


/* listagem posts */
.post-list {
    margin-bottom: 30px;
}

.post-item{

  .post-link {
    display: block;
    font-size: 24px;
    background-color: #FFF;
    border: 1px solid rgba(37, 38, 42, 0.1);
    box-shadow: 0 2px 5px 0 #F0F0F0;
    padding: 15px 30px;
    color: map-get($colors, primary);
    transition: all 0.3s ease;
    margin-bottom: 25px;

    &:visited {
      color: map-get($colors, primary);
    }

    &:hover{
      color: #FFF;
      background-color: map-get($colors, primary);
      text-decoration: none;
    }

    h3{
      margin-bottom: 0;
    }

    p {
      font-size: 16px;
    }
  }
}


// Toast
.toast{
  position: fixed;
  bottom: -100px;
  right: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(#25262a, 0.9);
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &.show{
    bottom: 20px;
    opacity: 1;
    visibility: visible;
  }

  .toast__text{
    color: #FFF;
    font-size: 16px;
    flex: 1;
    margin: 0;
  }

  .toast__button{
    border: none;
    padding: 10px 15px;
    background-color: #FFF;
    color: #25262a;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
  }
}

@media (max-width: 640px) {

  .toast{
    position: fixed;
    right: 10px;
    left: 10px;
    width: auto;
    max-width: none;

    &.show{
      bottom: 64px;
    }
  }
}

@media (max-width: 380px) {
  .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}