<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <span class="copyright" rel="copyright">© 2018 . built with care ♥ by
      <a href="https://www.linkedin.com/in/evertonstrack/" rel="noopener" target="_blank" title="Contatar Everton Strack">Everton Strack</a>
    </span>
  </div>
  <div class="wrapper footer-share">
    <a class="social-icons" href="https://github.com/evertonstrack" title="Everton Strack no GitHub" target="_blank" rel="noopener">
      <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
    </a>
    <a class="social-icons" href="https://twitter.com/evertonstrack" title="Everton Strack no Twitter" target="_blank" rel="noopener">
      <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    </a>
    <a class="social-icons" href="https://www.linkedin.com/in/evertonstrack/" title="Everton Strack no Linkedin" target="_blank" rel="noopener">
      <svg class="icon icon-instagram"><use xlink:href="#icon-linkedin"></use></svg>
    </a>
  </div>
</footer>
