<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- google webmaster tools verification -->
  <meta name="google-site-verification" content="j3DYXHZyjElk4W8pWKl-Sm1HCx3taNgDXcnLPpzHQFY" />

  <!-- Google Authorship and Publisher Markup -->
  <link rel="author" href="https://plus.google.com/+EvertonStrack/?rel=author" />
  <link rel="publisher" href="https://plus.google.com/+EvertonStrack/?rel=author" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@evertonstrack">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> 
  <meta name="twitter:creator" content="@evertonstrack">
  {% if page.image %}
  <meta property="twitter:image:src" content="{{ site.url }}{{page.image }}"> 
  {% else %}
  <meta property="twitter:image:src" content="{{ "/assets/images/share-image.jpg" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <!-- Google+ Schema.org  -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta itemprop="image" content="{{ "/assets/images/share-image.jpg" | prepend: site.baseurl | prepend: site.url }}"/>

  <!-- Facebook -->
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{page.image }}">
  {% else %}
  <meta property="og:image" content="{{ "/assets/images/share-image.jpg" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/images/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/favicons/apple-touch-icon-152x152.png" />
  
  <!-- Android Icons -->
  <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-128.png" sizes="128x128" />
  
  <!-- Windows Tile Icons -->
  <meta name="application-name" content="Everton Strack Blog" />
  <meta name="msapplication-TileColor" content="{{ page.theme-color | default: '#25262a' }}" />
  <meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="/assets/images/favicons/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="/assets/images/favicons/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="/assets/images/favicons/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="/assets/images/favicons/mstile-310x310.png" />

  <!-- Chrome theme color -->
  <meta name="theme-color" content="{{ page.theme-color | default: '#25262a' }}">

  <!-- Add manifest -->
  <link rel="manifest" href="/manifest.json" />

  <!-- Fedd -->
  {%- feed_meta -%}

  {%- include styles.html -%}

  <!-- Add Service Worker -->
  <script type="text/javascript">
    // make the whole serviceworker process into a promise so later on we can
    // listen to it and in case new content is available a toast will be shown
    window.isUpdateAvailable = new Promise(function (resolve, reject) {
      if ("serviceWorker" in navigator && ['localhost', '127'].indexOf(location.hostname) === -1) {
        navigator.serviceWorker.register("/service-worker.js")
          .then(function (registration) {
            console.info("Service Worker registration successful with scope: ", registration.scope);
            registration.onupdatefound = function() {
              const installingWorker = registration.installing;
              installingWorker.onstatechange = function() {
                switch (installingWorker.state) {
                  case 'installed':
                    if (navigator.serviceWorker.controller) {
                      // new update available
                      resolve(true);
                    } else {
                      // no update available
                      resolve(false);
                    }
                    break;
                }
              };
            };
          }).catch(function (err) {
            console.error("[SW ERROR] ", err);
          });
      }
    });
    
  </script>
</head>