<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <h1 class="site-title">
      <a class="logo site-title" rel="author" href="{{ "/" | relative_url }}">EvertonStrack</a>
      <span class="hide">{{ site.title | escape }}</span>
    </h1>

    <div class="right-header">
      <button class="open-search" id="open-search" role="button" aria-expanded="false">
        <strong class="hidden">Abrir caixa de pesquisa</strong>
        <svg class="icon icon-search">
          <title>Abrir pesquisa</title>
          <use xlink:href="#icon-search"></use></svg>
      </button>
      <label class="theme-toggle-container">
        <input name="theme" type="checkbox" class="hidden" />
        <span class="theme-toggle"></span>
        <strong class="hidden">Alterar tema do site</strong>
      </label>
    </div>
  </div>
</header>
