<section class="section section-persona">
  <div class="persona">
    <div class="side code-side">
      <div class="text">
          <h2>Ninja Front-end Developer</h2>
          <p>Desenvolvedor Front-end com foco em performance e SEO e buscando ser um ninja javascript.</p>
      </div>
    </div>
    <div class="side design-side">
      <div class="text">
          <h2>Aspirante a UX/UI Designer</h2>
          <p>Estudante de Design apaixonado por UI/UX, minimalisma, e sonha em mudar o mundo.</p>
      </div>
    </div>
  </div>
</section>
