<figure>
  <picture>
    {% assign image_webp = post.image | replace: "/images/posts/", "/images/webp/posts/" %}
    {% if image_webp contains 'jpg' %}
    <source type="image/webp" srcset="{{image_webp | replace: ".jpg", ".webp"}}" />
    {% endif %}
    {% if image_webp contains 'jpeg' %}
    <source type="image/webp" srcset="{{image_webp | replace: ".jpeg", ".webp"}}" />
    {% endif %}
    {% if image_webp contains 'png' %}
    <source type="image/webp" srcset="{{image_webp | replace: ".png", ".webp"}}" />
    {% endif %}
    <source srcset="{{post.image}}" />
    <img itemprop="image" data-src="{{post.image}}" loading="lazy" class="lazyload" alt="{{ post.title | escape }}" />
  </picture>
</figure>
