<section class="section section-full clearfix">
  <header class="section-header" role="heading">
    <div class="wrap">
      <h2 class="page-heading">Projetos</h2>
      <p>Alguns projetos que tive envolvimento como desenvolvedor front-end, seja como freelancer ou em agências.</p>
    </div>
   </header>
  <div class="wrap">
    <!-- CONTAINER PORTFOLIO -->
    <div class="container-portfolio">

      <!-- MAXFLEX ONE -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/maxflexone.jpg" alt="MaxFlex One loja virtual" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>MaxFlex One</h3>
          </header>
          <p class="desc">Site e eccommerce desenvolvido para a MaxFlex. Site <strong>responsivo e mobile friendly</strong>. O projeto foi desenvolvido como freelancer junto com a CodeCrafts e atuei como <strong>Desenvolvedor front-end freelancer</strong>.</p>
          <p class="hide">
            <strong>#HTML, #CSS</strong>, #javascript, #jQuery, #php,
          </p>
          <p>Acessar o site:
            <a href="https://www.maxflexone.com.br/" target="_blank" title="Ver detalhes do projeto">MaxFlex One</a>
          </p>
        </div>

      </article>
      <!-- / MAXFLEX ONE  -->

      <!-- JULIANA RAKOZA -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/juliana-rakoza.jpg" alt="Juliana Rakoza Makeup Artist" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Juliana Rakoza Makeup Artist</h3>
          </header>
          <p class="desc">Blog desenvolvido para a Makeup Artist Juliana Rakoza. O blog foi desenvolvido em
            <strong>Wordpress</strong><strong>responsivo e mobile friendly</strong>. O projeto foi desenvolvido como freelancer e atuei como <strong>Desenvolvedor front-end e back-end freelancer</strong>.</p>
          <p class="hide">
            <strong>#HTML, #CSS</strong>, #javascript, #jQuery, #php,
            <strong>#Wordpress</strong>
          </p>
          <p>Acessar o site:
            <a href="http://www.julianarakoza.com/blog/" target="_blank" title="Ver detalhes do projeto">Juliana Rakoza Makeup Artist</a>
          </p>
        </div>

      </article>
      <!-- / JULIANA RAKOZA  -->

      <!-- CURIO JOGOS -->
      <article class="item-portfolio" role="article">

        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/curio-jogos.jpg" alt="Curió Jogos - Produtos criativos para pequenos curiosos" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Curió Jogos - Produtos criativos para pequenos curiosos</h3>
          </header>
          <p class="desc">Hotsite em
            <strong>Wordpress</strong>
            <strong>responsivo e mobile friendly</strong>. O projeto foi desenvolvido como freelancer e atuei como
            <strong>Desenvolvedor front-end e back-end freelancer</strong>.</p>
          <p class="hide">
            <strong>#HTML, #CSS</strong>, #javascript, #jQuery, #php,
            <strong>#Wordpress</strong>
          </p>
          <p>Acessar o site:
            <a href="http://curiojogos.com.br/" target="_blank" title="Ver detalhes do projeto">Curió Jogos</a>
          </p>
        </div>

      </article>
      <!-- / CURIO JOGOS  -->

      <!-- UFA -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/ufa-comfort-wear.jpg" alt="UFA! Moda íntima: Cuecas Samba Canção" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>UFA! Comfort Wear: Samba Canção e Camisa sem limitações de gênero</h3>
          </header>
          <p class="desc">Loja virtual da marca A UFA! Comfort Wear. Feito na plataforma de ecommerce
            <a href="https://woocommerce.com/" target="_blank" title="Acessar a plataforma de ecommerce Woocommerce">Woocommerce</a> e Wordpress. Atuei no projeto como
            <strong>Designer</strong>, na criação da marca, conceito, identidade visual e layout e como
            <strong>Desenvolvedor front-end</strong>.
          </p>
          <p class="hide">
            <strong>#HTML, #CSS</strong>, #javascript, #jQuery, #Woocommerce, #wordpress #ecommerce, #design</p>
          <p>Acessar o site:
            <a href="http://www.ufas.com.br/" target="_blank" title="Ver detalhes do projeto">UFA! Comfort Wear</a>
          </p>
        </div>

      </article>
      <!-- /UFA -->

      <!-- TFG.CO -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/tfg.co-estudio-de-jogos.jpg" alt="TFG.CO Estúdio de desenvolvimento de Jogos" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>TFG.CO Estúdio de desenvolvimento de Jogos</h3>
          </header>
          <p class="desc">Hotsite/landing page Responsiva e mobile friendly. O projeto foi desenvolvido como freelancer e atuei como
            <strong>Desenvolvedor front-end freelancer</strong>.</p>
          <p class="hide">
            <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
        </div>
      </article>
      <!-- / TFG.CO  -->

      <!-- ELYSEE -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/elysee-screen.jpg" alt="Elysée O Boticário" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Elysée</h3>
          </header>
          <p class="desc">Site Responsivo e mobile friendly. O projeto foi desenvolvido na Huia/W3haus e atuei como <strong>Desenvolvedor front-end</strong>.</p>
          <p class="hide">#PHP, <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar site: <a href="http://vivalinda.boticario.com.br/elysee" target="_blank"> Elysée O Boticário </a></p>
        </div>
      </article>
      <!-- /ELYSEE -->

      <!-- MAKE.B -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/radar-make-b-screen.jpg" alt=" Radar Make B O Boticário" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Radar Make B</h3>
          </header>
          <p class="desc">Site Responsivo e mobile friendly. O projeto foi desenvolvido na Huia/W3haus e atuei como <strong>Desenvolvedor front-end</strong>.</p>
          <p class="hide">#PHP, <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site: <a href="http://vivalinda.boticario.com.br/radar-make-b" target="_blank" title="Ver detalhes do projeto">Radar Make B</a> </p>
        </div>
      </article>
      <!-- /MAKE.B -->

      <!-- SAMBA GREGO -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/sambagrego-screen.jpg" alt="Banda SambaGrego" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Site da Banda SambaGrego</h3>
          </header>
          <p class="desc">
            Projeto desenvolvido com o objetivo de divulgar o lançamento do novo clipe da banda Sambagrego. Desenvolvido em parceria
            com a designer
            <a href="http://anes.cc/" target="_blank" rel="external">Ane Schutz</a> no qual atuei como como
            <strong>Desenvolvedor front-end</strong> e
            <strong>back-end</strong> freelancer.
          </p>
          <p class="hide">#PHP, <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
        </div>
      </article>
      <!-- /SAMBA GREGO -->

      <!-- PASCOA -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/lacta-pascoa-screen.jpg" alt="Páscoa é Lacta" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Páscoa é Lacta</h3>
          </header>
          <p class="desc">Site desenvolvido na Huia/W3haus no qual atuei como <strong>Desenvolvedor front-end</strong>.</p>
          <p class="hide">#PHP, <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site: <a href="http://www.lacta.com.br/pascoa" target="_blank" title="Ver detalhes do projeto">Páscoa é Lacta</a> </p>
        </div>
      </article>
      <!-- /PASCOA -->

      <!-- PARMALAT -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/parmalat-screen.jpg" alt="Parmalat Leite em Pó" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Parmalat Leite em Pó</h3>
          </header>
          <p class="desc">
            Projeto desenvolvido com
            <strong>Desenvolvedor front-end frelancer</strong>. Também atuei como
            <strong> desenvolvedor back-end</strong>
          </p>
          <p class="hide">#PHP,
            <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
        </div>
      </article>
      <!-- /PARMALAT -->

      <!-- LG G3 -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/lg-g3-trip-screen.jpg" alt="Photo Experience | LG G3 + Revista TRIP | LG G3 + Revista TPM" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Photo Experience | LG G3 + Revista TRIP | LG G3 + Revista TPM</h3>
          </header>
          <p class="desc">Site que simula a interação do usuário com a câmera do LG G3 usando a webcam. O projeto foi desenvolvido na Huia/W3haus e atuei como <strong>Desenvolvedor front-end</strong>. </p>
          <p class="hide"><strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
        </div>
      </article>
      <!-- /LG G3 -->

      <!-- TORCIDA LINDA -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/torcida-linda-screen.jpg" alt="Torcida Linda O Boticario" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Torcida Linda O Boticario</h3>
          </header>
          <p class="desc">Site desenvolvido na Huia/W3haus e atuei como
            <strong>Desenvolvedor front-end</strong>. </p>
          <p class="hide"> <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site: <a href="http://vivalinda.boticario.com.br/torcidalinda" target="_blank" title="Ver detalhes do projeto">Torcida Linda O Boticario</a> </p>
        </div>
      </article>
      <!-- /TORCIDA LINDA -->

      <!-- VIVALINDA -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/vivalinda-oboticario-screen.jpg" alt="Viva Linda O Boticário" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Viva Linda O Boticário</h3>
          </header>
          <p class="desc">Site desenvolvido na Huia/W3haus e atuei como
            <strong>Desenvolvedor front-end</strong>. </p>
          <p class="hide">
            <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site:
            <a href="http://vivalinda.boticario.com.br/" target="_blank" title="Ver detalhes do projeto">Viva Linda O Boticário</a></p>
        </div>
      </article>
      <!-- /VIVALINDA -->

      <!-- LACTA 100 ANOS -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/lacta-100-anos-screen.jpg" alt="Lacta 100 Anos" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Lacta 100 Anos</h3>
          </header>
          <p class="desc">Site desenvolvido na Huia/W3haus e atuei como
            <strong>Desenvolvedor front-end</strong>. </p>
          <p class="hide">
            <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site:
            <a href="http://www.lacta.com.br/chocolates" target="_blank" title="Ver detalhes do projeto">Lacta 100 Anos</a>
          </p>
        </div>
      </article>
      <!-- /LACTA 100 ANOS -->

      <!-- TRAKINAS -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
              <img role="photo" src="/assets/images/portfolio/trakinas-screen.jpg" alt="Trakinas - Cada dia + amigos cada dia + Trakinas" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Trakinas</h3>
          </header>
          <p class="desc">Site desenvolvido na agência Huia/W3haus e atuei como
            <strong>Desenvolvedor front-end</strong>. </p>
          <p class="hide">
            <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site:
            <a href="https://www.trakinas.com.br/" target="_blank" title="Ver detalhes do projeto">Trakinas</a>
          </p>
        </div>
      </article>
      <!-- /TRAKINAS -->

      <!-- EVERTON STRACK -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/everton-strack-screen.jpg" alt="Everton Strack: Desenvolvedor Front-end" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Everton Strack Portfolio</h3>
          </header>

          <p class="desc">
            Projeto pessoal desenvolvido com o objetivo de divulgar o meu trabalho. As duas principais premissas:
            <strong>Performance</strong> - carregar rápido - e ser funcional; Atender a o maior número de plataformas e levar a melhor
            experiência possível para os usuários de cada uma delas. Cuidado muito forte com a performance e com buscar a melhor
            forma de entregar a informação rápido ao usuário.
          </p>
          <p class="hide">#PHP,
            <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site:
            <a href="http://evertonstrack.com.br/" title="Ver detalhes do projeto">Everton Strack Portfolio</a>
          </p>
        </div>
      </article>
      <!-- EVERTON STRACK -->

      <!-- DA GAVETA PRA RUA -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/atados-da-gaveta-pra-rua-screen.jpg" alt="Da Gaveta Pra Rua - Atados" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Da Gaveta Pra Rua</h3>
          </header>
          <p class="desc">Atuei como
            <strong>Desenvolvedor front-end freelancer</strong> e também como desenvolvedor back-end. </p>
          <p class="hide">#PHP,
            <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site:
            <a href="http://gavetaprarua.com.br/" target="_blank" title="Ver detalhes do projeto">Da Gaveta Pra Rua</a>
          </p>
        </div>
      </article>
      <!-- /DA GAVETA PRA RUA -->

      <!-- A DOCE CLARICE -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/a-doce-clarice-screen.jpg" alt="A Doce Clarice" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>A Doce Clarice</h3>
          </header>
          <p class="desc">Site desenvolvido em Wordpress no qual atuei
            <strong>Desenvolvedor front-end freelancer</strong> e também como desenvolvedor back-end. </p>
          <p class="hide">#PHP,
            <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site:
            <a href="http://adoceclarice.com.br/" target="_blank" title="Ver detalhes do projeto">A Doce Clarice</a>
          </p>
        </div>

      </article>
      <!-- /A DOCE CLARICE -->

      <!-- CASAS EM HORTOLÂNDIA -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
              <img role="photo" src="/assets/images/portfolio/casa-em-hortolandia-screen.jpg" alt="Casas em Hortolândia" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Casas em Hortolândia</h3>
          </header>
          <p class="desc">Atuei <strong>Desenvolvedor front-end freelancer</strong> e também como desenvolvedor back-end. </p>
          <p class="hide">#PHP, <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site:  <a href="http://casasemhortolandia.com.br/" target="_blank" title="Ver detalhes do projeto">Casas em Hortolândia</a>
          </p>
        </div>
      </article>
      <!-- /CASAS EM HORTOLÂNDIA -->

      <!-- TAMBOR -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
              <img role="photo" src="/assets/images/portfolio/tambor-screen.jpg" alt="Tambor" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Tambor</h3>
          </header>
          <p class="desc">Site desenvolvido em Wordpress no qual atuei <strong>Desenvolvedor front-end freelancer</strong> e também como desenvolvedor back-end. </p>
          <p class="hide">#PHP, <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site:  <a href="http://tamborcom.com.br/" target="_blank" title="Ver detalhes do projeto">Tambor</a>
          </p>
        </div>
      </article>
      <!-- /TAMBOR -->

      <!-- CÍRCULO OPERÁRIO LEOPOLDENSE - COL -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
              <img role="photo" src="/assets/images/portfolio/col-screen.jpg" alt="Círculo Operário leopoldense" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Círculo Operário Leopoldense - COL</h3>
          </header>
          <p class="desc">Atuei <strong>Desenvolvedor front-end freelancer</strong>
          </p>
          <p class="hide">#PHP, <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
        </div>
      </article>
      <!-- /CÍRCULO OPERÁRIO LEOPOLDENSE - COL -->

      <!-- TRAMONTINA MOBILE -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
            <img role="photo" src="/assets/images/portfolio/tramontina-mobile-screen.jpg" alt="Tramontina Mobile" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Tramontina Mobile</h3>
          </header>
          <p class="desc">Site desenvolvido na agência W3haus e atuei como <strong>Desenvolvedor front-end</strong>. </p>
          <p class="hide">#PHP, <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site:  <a href="http://www.tramontina.com.br/" target="_blank" title="Ver detalhes do projeto">Tramontina Mobile</a>
          </p>
        </div>
      </article>
      <!-- /TRAMONTINA MOBILE -->

      <!-- CERTEL -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
              <img role="photo" src="/assets/images/portfolio/certel-screen.jpg" alt="Certel" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Certel Institucional</h3>
          </header>
          <p class="desc">Site desenvolvido na agência Brivia e atuei como <strong>Desenvolvedor front-end</strong>. </p>
          <p class="hide"> <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site:  <a href="http://www.certel.com.br/" target="_blank" title="Ver detalhes do projeto">Certel Institucional</a>
          </p>
        </div>
      </article>
      <!-- /CERTEL -->

      <!-- CONFRARIA MALBEC -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
              <img role="photo" src="/assets/images/portfolio/malbec-screen.jpg" alt="Confraria Malbec" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Confraria Malbec</h3>
          </header>
          <p class="desc">Site desenvolvido na agência W3haus e atuei como <strong>Desenvolvedor front-end</strong>. </p>
          <p class="hide"> <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site:  <a href="http://confrariamalbec.com.br/" title="Ver detalhes do projeto">Confraria Malbec</a>
          </p>
        </div>
      </article>
      <!-- /CONFRARIA MALBEC -->

      <!-- MEMORIA BR -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
              <img role="photo" src="/assets/images/portfolio/petrobras-distribuidora-memoria-screen.jpg" alt="Memória BR - Petrobras Distribuidora" />
          </div>
        </figure>
        <div class="detail">
          <div class="d-img"></div>
          <header role="heading">
            <h3>Projeto Memória BR</h3>
          </header>
          <p class="desc">Site desenvolvido na agência W3haus e atuei como <strong>Desenvolvedor front-end</strong>. </p>
          <p class="hide"> <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site:  <a href="http://www.memoriabr.com.br/" target="_blank" title="Ver detalhes do projeto">Projeto Memória BR</a>
          </p>
        </div>
      </article>
      <!-- /MEMORIA BR -->

      <!-- FLORATTA -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
              <img role="photo" src="/assets/images/portfolio/floratta-screen.jpg" alt="Floratta O Boticário" />
          </div>
        </figure>
        <div class="detail">
          <div class="d-img"></div>
          <header role="heading">
            <h3>Floratta</h3>
          </header>
          <p class="desc">Site desenvolvido na agência W3haus e atuei como <strong>Desenvolvedor front-end</strong>. </p>
          <p class="hide"> <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site:  <a href="http://vivalinda.boticario.com.br/floratta" target="_blank" title="Ver detalhes do projeto">Floratta</a>
          </p>
        </div>
      </article>
      <!-- /FLORATTA -->

      <!-- CUIDE SE BEM -->
      <article class="item-portfolio" role="article">
        <figure role="img">
          <div class="browser">
              <img role="photo" src="/assets/images/portfolio/cuide-se-bem-screen.jpg" alt="Cuide-se Bem O Boticário" />
          </div>
        </figure>
        <div class="detail">
          <header role="heading">
            <h3>Cuide-se Bem</h3>
          </header>
          <p class="desc">Site desenvolvido na agência W3haus e atuei como <strong>Desenvolvedor front-end</strong>. </p>
          <p class="hide"> <strong>#HTML, #CSS</strong>, #javascript, #jQuery</p>
          <p>Acessar o site:  <a href="http://vivalinda.boticario.com.br/cuide-se-bem" target="_blank" title="Ver detalhes do projeto">Cuide-se Bem</a>
          </p>
        </div>
      </article>
      <!-- /CUIDE SE BEM -->

    </div>
    <!-- /CONTAINER PORTFOLIO -->
  </div>
</section>
