.contact-page{

  .post-header{
    display: none;
  }
}

.section-contact{

  padding-bottom: 50px;

  .section-header{
    background-color: #25262a;
    color: #FFF;
    p{
      max-width: 800px;
    }
  }

  > .wrap > p {
    max-width: 60%;
  }

  figure {
    max-width:40%;
    background-color: #FFF;
    border: 5px solid rgba(37, 38, 42, 0.1);
    -webkit-box-shadow: 0 2px 5px 0 #F0F0F0;
    box-shadow: 0 2px 5px 0 #F0F0F0;
    // padding: 10px;
    margin: 0 0 50px 50px;
    border-radius: 50%;
    float: right;
    max-width: 30%;
    font-size: 24px;

    img{
      width: 100%;
      max-width: none;
    }
  }
}