@import "../variables";

.home-page{
  .site-header{
    background-color: #FFF;
    box-shadow: 0 4px 10px rgba(0,0,0,.4);
    z-index: 2;

    .site-title{
      color: #25262a;
  
      .logo{
        &:visited {
          color: #25262a;
        }
      }
    }
    .site-nav  {
      .page-link{
        color: #25262a;
      }
    }
  }
}

/* home gretings */
.greetings{
  display: flex;
  background: fixed url('./assets/images/tecnologias-frontend-1600w.jpg') repeat 50%;
  box-shadow: inset 0 -4px 10px rgba(0,0,0,.4);
  align-items: center;
  color: #FFF;
  min-height: 82vh;
  padding: 50px 0;

  > .wrap {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .greetings__text{
    width: 50%;

    h2{
      font-size: 2rem;
      padding: 1% 5%;
      background-color: #276ef1;
    }

    p{
      font-size: 1.2rem;
      padding: 2% 5%;
      background-color: #276ef1;
    }

    a {
      font-size: 1.2rem;
      display: none;
    }
  }

  img{

    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-filter: grayscale(1);
    max-width: 350px;
    
    filter: grayscale(1);

    &:hover{
      filter: none;
      -webkit-filter: grayscale(0);
    }
  }
}
/* end: home gretings */

/* home-posts */
.home-posts{

  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

  > .wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 800px;
    width: auto;
  }
  
  .button-link{
    display: table;
    padding: 10px 30px;
    margin: 0 auto;
  }
}
/* end/ home-posts */


/* tablet */
@media screen and (min-width: 641px) and (max-width: 900px) {

  .greetings{
    .greetings__text {
      width: 65%;
      padding-right: 30px;

      h2{
        font-size: 2.5rem;
      }

      p{
        font-size: 1rem;
      }
    }

    .greetings__image{
      max-width: 300px;

      img{
        width: 100%;
      }
    }
  }
}

/* mobile */
@media screen and (max-width: 640px) {
  .greetings{
    padding-bottom: 30px;
    padding-top: 30px;
    min-height: auto;
    background: #276ef1;

    > .wrap{
      flex-direction: column;
    }

    .greetings__text {
      order: 2;
      width: 100%;
      
      h2, p{
        padding-left: 0; 
        padding-right: 0;
      }

      h2{
        font-size: 2rem;
      }

      p{
        font-size: 1rem;
      }
    }

    .greetings__image{
      display: none;
    }
  }
}