<section class="author">
  <div class="details wrapper">
    <div class="author__desc">
      <span class="author__label">Autor</span>
      <h3 class="author__desc-title">
        <a href="https://github.com/evertonstrack" target="_blank">Everton Strack</a>
      </h3>

      <p class="author__desc-text">Senior Front-end developer, estudante de Design frustrado.</p>
      <p class="author__desc-text">Everton é entusiasta da tecnologia. Ele gosta de ler entre as linhas da indústria de
        tecnologia e tentar entender as motivações por trás de decisões que podem parecer incríveis, irracionais ou puramente idiotas. 
        Ele também gosta de beleza, café medíocre e dias chuvosos.</p>

      <div class="author__desc-contact">
        <a href="https://github.com/evertonstrack" title="Everton Strack no GitHub" target="_blank">
          <svg class="icon icon-github">
            <use xlink:href="#icon-github"></use>
          </svg>
        </a>
        <a href="https://twitter.com/evertonstrack" title="Everton Strack no Twitter" target="_blank">
          <svg class="icon icon-twitter">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
        <a href="https://www.instagram.com/evertonstrack/" title="Everton Strack no Instagram" target="_blank">
          <svg class="icon icon-instagram">
            <use xlink:href="#icon-instagram"></use>
          </svg>
        </a>
      </div>
    </div>
    <figure class="author__image">
      <img itemprop="image" src="/assets/images/evertonstrack-home.jpg" class="round" alt="Everton Strack" />
    </figure>
  </div>
</section>