/* clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.align-center{
  text-align: center;
}

.arrow-down{
  position: absolute;
  right: 10%;
  bottom: 15%;
  width: 12px;
  height: 150px;
  background-color:#005cef;

  -webkit-animation: arrow-down 3s ease-in-out;
  -moz-animation: arrow-down 3s ease-in-out;
  -o-animation: arrow-down 3s ease-in-out;
  animation: arrow-down 3s ease-in-out;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;


  &:before,
  &:after{
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 12px;
    bottom: 0;
    left: 29%;
    background-color: #005cef;
  }

  &:before{
    transform: rotate(45deg) translateX(-66%) translateY(164%);
  }

  &:after{
    transform: rotate(-45deg) translateX(-1%) translateY(-105%);
  }
}

@-webkit-keyframes arrow-down {
  0% {
      transform: translateY(0)
  }
  25%{
    transform: translateY(-25px)
  }
  50% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(0)
  }
}
@-moz-keyframes arrow-down {
  0% {
    transform: translateY(0)
  }
  25%{
    transform: translateY(-25px)
  }
  50% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(0)
  }
}

@keyframes arrow-down {
  0% {
    transform: translateY(0)
  }
  25%{
    transform: translateY(-25px)
  }
  50% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(0)
  }
}


/* general classes */
.wrap{
  width: 100%;
  max-width: 1000px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}


.simple-link,
.button-link{
  border: 1px solid transparent;
  padding: 10px 15px;
  display: inline-block;
  clear: both;
  transition: all 0.3s ease;
}

.simple-link{
  text-decoration: underline;
  float: right;
}

.button-link{
  text-decoration: none;
  border-radius: 5px;
}

.link-white{
  color: #FFF;
  &:hover{
    border-color: #FFF;
    color: #FFF;
  }

  &:focus,
  &:visited{
    color: #FFF;
  }
}

.link-gray{
  color: var(--text);
  border-color: var(--text);
  background-color: var(--background_alt);

  &:hover{
    background-color: var(--background);
    text-decoration: none;
  }

  &:focus,
  &:visited{
    color: var(--text);

    &:hover{
      color: var(--text);
    }
  }
}

.svg-icon{
  width: 20px;
}
.copyright{
  display: table;
  margin: 0 auto;
  text-align: center;
}

.post-meta{
  color: var(--text);
}

.icon{
  width: 42px;
  height: 42px;
  margin: 10px;
  fill: #25262a;
  transition: all 0.3s ease;
}

pre>code.language-cmd{
  color: #FFF;
}


/* listagem posts */
.post-list {
  margin-bottom: 30px;
}

.post-item{

  .post-link {
    display: block;
    font-size: 24px;
    background-color: transparent;
    padding: 15px 30px;
    color: var(--text);
    margin-bottom: 25px;
    background-color: var(--background_alt);
    border: 1px solid var(--background);

    &:visited {
      color: var(--text);
    }

    &:hover{
      color: var(--text);
      background-color: var(--background);
      border-color: var(--text);
      text-decoration: none;

      .post-meta{
        color: var(--text);
      }
    }

    h3{
      line-height: 120%;
    }

    p {
      font-size: 16px;
    }
  }
}


// Toast
.toast{
  position: fixed;
  bottom: -100px;
  right: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 100;

  &.show{
    bottom: 20px;
    opacity: 1;
    visibility: visible;
  }

  .toast__text{
    color: var(--text);
    font-size: 16px;
    flex: 1;
    margin: 0;
  }

  .toast__button{
    border: none;
    padding: 10px 15px;
    background-color: var(--text);
    color: var(--background);
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
  }
}

button.share{
  padding: 20px 60px;
  border: 1px solid #25262a;
  margin: 0 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #25262a;
  transition: all 0.3s ease;
  text-decoration: none;
  background-color: transparent;
  max-width: 300px;
  margin: 0 auto 30px;

}

button.share:hover{
  background-color: #25262a;
  color: #FFF;
}

.hidden{
  display: none !important;
}


a{
  color: var(--text);

  &:visited{
    color: var(--text);
  }
}
@media (min-width: 641px) {

  .post-content a:hover{
    background-color:  var(--text);
    color: var(--background);
  }
}

@media (max-width: 640px) {

  .toast{
    position: fixed;
    right: 10px;
    left: 10px;
    width: auto;
    max-width: none;

    &.show{
      bottom: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-right: 20px;
    padding-left: 20px;

    .wrapper{
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: 380px) {
  .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
