
$colors: (
  primary: #25262a
);


$pallete: (
  green: #4CAF50,
  red: #E24E42,
  orange: #F7B733,
  yellow:#ffdd18,
  blue: #005cef
);

$color-css: (
  light: #005cef,
  dark: #2162af
);

$color-html: (
  light: #f16529,
  dark: #e44d26
);

$color-javascript: (
  light: #ffdd18,
  dark: #323330
);

$color-design: (
  light: #e91363,
  dark: #FFFFFF
);
