
$colors: (
  primary: #25262a
);


html{
  --background: #FDFDFD;
  --text: #25262a;
  --background_alt: rgba(218, 214, 214, 0.3); //#dad6d6

  // --layout_bg: #25262a;
  // --layout_text: #FFFFFF;

  --frontend_bg: #f16529;
  --frontend_text: #FFFFFF;
  --design_bg: #ffdd18;
  --design_text: #323330;
  --vida_bg: #4CAF50;
  --vida_text: #FFFFFF;
}
