
@media screen and (max-width: 900px) {

  /* contact */
  .section-contact{
     figure{
       display: none;
     }
     
     > .wrap {
       > p {
        max-width: 100%;
       }
     }
  }
  /* end: cotnact */
}

/* tablet */
@media screen and (min-width: 641px) and (max-width: 900px) {

  /* home */
  .greetings{

    .greetings__text {
      width: 65%;
      padding-right: 30px;

      h2{
        font-size: 2.5rem;
      }

      p{
        font-size: 1rem;
      }
    }

    .greetings__image{
      max-width: 300px;

      img{
        width: 100%;
      }
    }
  }
  /* end: home */

  /* blog list */
  .section-blog {
    
    .post-list{
      .post-item {
        max-width: 50%;
      }
    }
  }
  /* end: blog list */

  /* projects */
  .projects-page{
     .container-portfolio{
        .item-portfolio{
          max-width: 48%;
        }
     }
  }
  /* end: projects */

}


/* mobile */
@media screen and (max-width: 640px) {


  /* home */
  .greetings{
    padding-bottom: 30px;
    padding-top: 30px;
    min-height: auto;

    > .wrap{
      flex-direction: column;
    }

    .greetings__text {
      order: 2;
      width: 100%;
      

      h2{
        font-size: 2rem;
      }

      p{
        font-size: 1rem;
      }
    }

    .greetings__image{
      display: none;
    }
  }
  /* end: home */

  /* blog list */
  .section-blog {
    
    .post-list{
      .post-item {
        max-width: 100%;
        padding: 0;
      }
    }
  }
  /* end: blog list */

  /* blog details */
  .post-detail{
     .post-header{
       padding-left: 30px;
       padding-right: 30px;
     }
  }
  /* end: blog details */

  /* projects */
  .projects-page{
     .container-portfolio{
        .item-portfolio{
          max-width: 100%;
        }
     }
  }
  /* end: projects */

  /* contact */
  .section-contact{
    > .wrap{
      > p {
        max-width: 100%;
      }
    }
  }
  /* end: contact */

  /* about */
  .content-sobre{

    .section-header{
      margin-bottom: 0;
    }

    .section-persona{
      min-height: auto !important;
      padding-bottom: 0 !important;
     
      .persona{
        flex-direction: column;
        height: auto;

        .side{
          width: 100%;
          display: block;
          padding: 70px 30px;

          .text{
            width: 100%;
            h2{
              font-size: 42px;
            }
          }
        }
      }
    }

    .section-sobre-everton{
      img{
        float: none;
        margin: 0 0 30px 0;
        width: 100%;
      }
    }
  }
  .skills .skill{
    max-width: 49%;
  }
  /* end: about */
}


@media screen and (max-width: 641px) {

  .site-header{
    .site-nav{
      position: absolute;
      border: none;
      background: none;

      label[for="nav-trigger"]{
        display: none;
      }

      input ~ .trigger {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 54px;
        background-color: #25262a;
        -webkit-box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.3);
        color: #FFF;
        display: flex;
        align-items: center;

        .page-link{
          color: #FFF;
          height: 100%;
          line-height: 50px;
          padding: 0;
          margin: 0;
          text-align: center;
          width: 25%;
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  /* about */
  .content-sobre{
    .section-persona{
      .persona{
        .side{
          width: 100%;
          display: block;
          padding: 70px 30px;

          .text{
            h2 {
              font-size: 30px;
            }
            p {
              font-size: 18px;
            }
          }
        }
      }
    }

    .section-sobre-everton{
      img{
        float: none;
        margin: 0 0 30px 0;
        width: 100%;
      }
    }
    .section-sobre-everton{
      font-size: 1.1rem;
    }
  }
  /* end: about */
}