
@media screen and (max-width: 900px) {

  /* contact */
  .section-contact{
     figure{
       display: none;
     }
     
     > .wrap {
       > p {
        max-width: 100%;
       }
     }
  }
  /* end: cotnact */
}

/* tablet */
@media screen and (min-width: 641px) and (max-width: 900px) {

  /* home */
  .greetings{

    .greetings__text {
      width: 65%;
      padding-right: 30px;

      h2{
        font-size: 2.5rem;
      }

      p{
        font-size: 1rem;
      }
    }

    .greetings__image{
      max-width: 300px;

      img{
        width: 100%;
      }
    }
  }
  /* end: home */

  /* blog list */
  .section-blog {
    
    .post-list{
      .post-item {
        max-width: 50%;
      }
    }
  }
  /* end: blog list */

  /* projects */
  .projects-page{
     .container-portfolio{
        .item-portfolio{
          max-width: 48%;
        }
     }
  }
  /* end: projects */

}


/* mobile */
@media screen and (max-width: 640px) {

  /* general */
  .site-header {
    .site-nav {
      .page-link{
        color: #25262a;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px; 
      }
    }
  }
  /* end: general */

  /* home */
  .greetings{
    > .wrap{
      flex-direction: column;
    }

    .greetings__text {
      order: 2;
      width: 100%;
      padding-bottom: 30px;

      h2{
            font-size: 2.5rem;
      }
    }

    .greetings__image{
      display: none;
    }
  }
  /* end: home */

  /* blog list */
  .section-blog {
    
    .post-list{
      .post-item {
        max-width: 100%;
      }
    }
  }
  /* end: blog list */

  /* blog details */
  .post-detail{
     .post-header{
       padding-left: 30px;
       padding-right: 30px;
     }
  }
  /* end: blog details */

  /* projects */
  .projects-page{
     .container-portfolio{
        .item-portfolio{
          max-width: 100%;
        }
     }
  }
  /* end: projects */

  /* contact */
  .section-contact{
    > .wrap{
      > p {
        max-width: 100%;
      }
    }
  }
  /* end: contact */

  /* about */
  .content-sobre{

    .section-header{
      margin-bottom: 0;
    }

    .section-persona{
      min-height: auto !important;
      padding-bottom: 0 !important;
     
      .persona{
        flex-direction: column;
        height: auto;

        .side{
          width: 100%;
          display: block;
          padding: 70px 50px;

          .text{
            h2{
              font-size: 42px;
            }
          }
        }
      }
    }

    .section-sobre-everton{
      img{
        float: none;
      }
    }
  }
  /* end: about */
}


@media screen and (max-width: 640px) {

  .site-header{
    .site-nav{

      border: none;
      background: none;

      label[for="nav-trigger"] {
        position: relative;

        .menu-icon {
          height: 4px;
          border-radius: 2px;
          margin: 16px 0;
          background-color: #FFF;
          padding-top: 0px;
          transition: all 0.3s ease;

          &:before,
          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #FFF;
            position: absolute;
            left: 0;
            transition: all 0.3s ease;
          }

          &:before{
            top: 4px;
          }

          &:after{
            bottom: 4px;
          }
        }
      }
      

      input{

        ~ .trigger{
          transition: all 0.3s ease;
          position: fixed;
          opacity: 0;
          top: 49%;
          left: 49%;
          visibility: hidden;
          display: block;
          height: 50px;
          width: 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transform: scale(0);
          border-radius: 50%;
          overflow: hidden;
        }

        &:checked {

          ~ .trigger {
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background-color: rgba($color: #FFFFFF, $alpha: 0.95);
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            border-radius: 0;
          }

          + label[for="nav-trigger"] {
            position: fixed;
            right: 15px;

            .menu-icon {
              background-color: transparent;

              &:before,
              &:after {
                background-color: #25262a;
              }

              &:before{
                transform: rotate(45deg);
                transform-origin: left;
              }

              &:after{
                bottom: 3px;
                transform: rotate(-45deg);
                transform-origin: left;
              }
            }
          }

        }
      }
      .page-link{
        font-size: 36px;
      }
    }
  }
}