.section-skills{
  background-color: #ffbc01;
  min-height: auto !important;
  height: auto !important;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  color: #25262a;

  /* skills */
  .skills{

    display: block;
    text-align: center;

    .skill{
      display: inline-block;
      width: 168px;
      margin-bottom: 15px;

      .skill__label{
        display: block;
      }


      /* circle SVG */
      .skill__level{
        display: inline-block;
        margin: 10px auto;
        max-width: 80%;
        max-height: 250px;

        .circle-bg {
          fill: none;
          stroke: rgba($color: #ca9602, $alpha: 0.3);
          stroke-width: 3.8;
        }

        .skill__level-progress{
          stroke: #201801;
          fill: none;
          stroke-width: 2.8;
          stroke-linecap: round;
          animation: progress 1s ease-out forwards;
        }

        .percentage {
          fill: #201801;
          font-size: 0.5em;
          text-anchor: middle;
          font-weight: bold;
        }
      }
    }
  }

}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}


/* mobile */
@media screen and (max-width: 640px) {
  .skills .skill{
    max-width: 49%;
  }
}
