<!-- section skills -->
<section class="section section-skills">
  <div class="wrap">

    <header class="section-header title-section" role="heading">
      <div class="title-section-container">
        <h2>Minhas Skills</h2>
        <p>Algumas de minhas skills Jedi Master.</p>
      </div>
    </header>

    <!-- skills -->
    <div class="skills clearfix">
      <!-- skill -->
      <div class="skill">
        <strong class="skill__label">HTML</strong>
        <svg viewbox="0 0 36 36" class="skill__level">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="skill__level-progress" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
          <text x="18" y="20.35" class="percentage">10</text>
        </svg>
      </div>
      <!-- /skill -->
      <!-- skill -->
      <div class="skill">
        <strong class="skill__label">CSS</strong>
        <svg viewbox="0 0 36 36" class="skill__level">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="skill__level-progress" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
          <text x="18" y="20.35" class="percentage">10</text>
        </svg>
      </div>
      <!-- /skill -->
      <!-- skill -->
      <div class="skill">
        <strong class="skill__label">Javascript</strong>
        <svg viewbox="0 0 36 36" class="skill__level">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="skill__level-progress" stroke-dasharray="90, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
          <text x="18" y="20.35" class="percentage">9</text>
        </svg>
      </div>
      <!-- /skill -->
      <!-- skill -->
      <div class="skill">
        <strong class="skill__label">AngularJS</strong>
        <svg viewbox="0 0 36 36" class="skill__level">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="skill__level-progress" stroke-dasharray="40, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
          <text x="18" y="20.35" class="percentage">4</text>
        </svg>
      </div>
      <!-- /skill -->
      <!-- skill -->
      <div class="skill">
        <strong class="skill__label">ReactJS</strong>
        <svg viewbox="0 0 36 36" class="skill__level">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="skill__level-progress" stroke-dasharray="20, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
          <text x="18" y="20.35" class="percentage">2</text>
        </svg>
      </div>
      <!-- /skill -->
      <!-- skill -->
      <div class="skill">
        <strong class="skill__label">Gulp</strong>
        <svg viewbox="0 0 36 36" class="skill__level">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="skill__level-progress" stroke-dasharray="80, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
          <text x="18" y="20.35" class="percentage">8</text>
        </svg>
      </div>
      <!-- /skill -->
      <!-- skill -->
      <div class="skill">
        <strong class="skill__label">Grunt</strong>
        <svg viewbox="0 0 36 36" class="skill__level">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="skill__level-progress" stroke-dasharray="60, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
          <text x="18" y="20.35" class="percentage">6</text>
        </svg>
      </div>
      <!-- /skill -->
      <!-- skill -->
      <div class="skill">
        <strong class="skill__label">Design responsivo</strong>
        <svg viewbox="0 0 36 36" class="skill__level">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="skill__level-progress" stroke-dasharray="80, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
          <text x="18" y="20.35" class="percentage">8</text>
        </svg>
      </div>
      <!-- /skill -->
      <!-- skill -->
      <div class="skill">
        <strong class="skill__label">Mobile Friendly</strong>
        <svg viewbox="0 0 36 36" class="skill__level">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="skill__level-progress" stroke-dasharray="80, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
          <text x="18" y="20.35" class="percentage">8</text>
        </svg>
      </div>
      <!-- /skill -->
      <!-- skill -->
      <div class="skill">
        <strong class="skill__label">SEO on page</strong>
        <svg viewbox="0 0 36 36" class="skill__level">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="skill__level-progress" stroke-dasharray="90, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
          <text x="18" y="20.35" class="percentage">9</text>
        </svg>
      </div>
      <!-- /skill -->
      <!-- skill -->
      <div class="skill">
        <strong class="skill__label">Wordpress</strong>
        <svg viewbox="0 0 36 36" class="skill__level">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="skill__level-progress" stroke-dasharray="60, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
          <text x="18" y="20.35" class="percentage">6</text>
        </svg>
      </div>
      <!-- /skill -->
      <!-- skill -->
      <!-- <div class="skill">
        <strong class="skill__label">Web Standards</strong>
        <svg viewbox="0 0 36 36" class="skill__level">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="skill__level-progress" stroke-dasharray="90, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
          <text x="18" y="20.35" class="percentage">9</text>
        </svg>
      </div> -->
      <!-- /skill -->
      <!-- skill -->
      <div class="skill">
        <strong class="skill__label">Web usability</strong>
        <svg viewbox="0 0 36 36" class="skill__level">
          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
          <path class="skill__level-progress" stroke-dasharray="60, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
          <text x="18" y="20.35" class="percentage">6</text>
        </svg>
      </div>
      <!-- /skill -->
    </div>
    <!-- /skills -->
  </div>
</section>
<!-- end: section skills -->