---
layout: default
---

<!-- posts -->
<section class="section section-blog">

  <header class="section-header">
    <div class="wrapper">
      {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
      {%- endif -%}
      {%- if page.description -%}
        <p>{{ page.description }}</p>
      {%- endif -%}
    </div>
  </header>

  <div class="wrapper wrapper-blog">

    {{ content }}

    {%- if paginator.total_pages > 0 -%}
      <div class="post-list">
        {%- for post in paginator.posts -%}
        <article class="post-item {{ post.bodyClass }}">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <time class="post-meta">{% include date.html date=post.date %}</time>
            <div class="post-item__content">
              <h3>{{ post.title | escape }}</h3>
              <p>{{ post.description | escape }}</p>
              {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
            </div>

            <div class="tags">
              {%- for tag in post.tags -%}
                <strong class="tag">{{tag}}</strong>
              {%- endfor -%}
            </div>
          </a>
        </article>
        {%- endfor -%}
      </div>

      <p class="rss-subscribe" style="display: none;">subscribe
        <a href="{{ " /feed.xml " | relative_url }}">via RSS</a>
      </p>
    {%- endif -%}
  </div>

  <!--
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
  {% if paginator.total_pages > 1 %}
  <div class="pager">
    {% if paginator.previous_page %}
      <a class=" previous"  href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="mobile-hidden">&larr;</span> Anterior</a>
    {% else %}
      <a class="previous disabled"  href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="mobile-hidden">&larr;</span> Anterior</a>
    {% endif %}

    {% if paginator.page_trail %}
      <div class="pager__pages">
        {% for trail in paginator.page_trail %}
          <a class="pager__pages-item" {% if page.url == trail.path %}aria-selected="true"{% endif %} href="{{ trail.path | prepend: site.baseurl | replace: '/index.html', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
        {% endfor %}
      </div>
    {% endif %}

    {% if paginator.next_page %}
      <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Próximo <span class="mobile-hidden">&rarr;</span></a>
    {% else %}
      <a class="next disabled" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Próximo <span class="mobile-hidden">&rarr;</span></a>
    {% endif %}
  </div>
  {% endif %}

  <script>
    const pagerElements = document.querySelectorAll('.pager a');
    pagerElements.forEach(function(item) {
      item.addEventListener('click', function(event) {
        if( item.classList && item.classList.contains('disabled') ) {
          event.preventDefault();
          return false;
        }
      })
    })
  </script>

</section>
<!-- /posts -->
