<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt-br" }}">

  {%- include head.html -%}

  <body class="{{page.bodyClass}} {{page.collection}}">

    <script src="/assets/js/theme-colors.js"></script>

    <script type="text/javascript">
      // Verify webp support on browser
      var supportsWebP = (function () {
        'use strict';
        var canvas = typeof document === 'object' ? document.createElement('canvas') : {};
        canvas.width = canvas.height = 1;
        var index = canvas.toDataURL ? canvas.toDataURL('image/webp').indexOf('image/webp') === 5 : false;
        return index;
      }());

      if (supportsWebP) {
        document.querySelector('html').classList.add('webp');
      } else {
        document.querySelector('html').classList.add('no-webp');
      }
    </script>

    {% include svg-icons.html %}
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    {%- include scripts.html -%}
  </body>

</html>
