---
layout: default
---
<!-- Home -->
{{ content }}
<!-- Home -->

<!-- posts -->
<section class="section section-full home-posts">
  <div class="wrap">
    {%- if site.posts.size > 0 -%}
    <div class="post-list-container">
      <div class="latest-post">
        <h2 class="post-list-heading">{{ page.list_title | default: "Últimos posts" }}</h2>
        <div class="post-list">
          {%- for post in site.posts limit:3 -%}
          <article class="post-item {{ post.bodyClass }}">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <time class="post-meta">{% include date.html date=post.date %}</time>
              <div class="post-item__content">
                <h3>{{ post.title | escape }}</h3>
                <p>{{ post.description | escape }}</p>

                <div class="tags">
                  {%- for tag in post.tags -%}
                    <strong class="tag">{{tag}}</strong>
                  {%- endfor -%}
                </div>

                {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
              </div>
            </a>
          </article>
          {%- endfor -%}
        </div>
      </div>
    </div>
    {%- endif -%}

    <div calss="action-button">
      <a class="button-link link-gray" href="/blog" title="Ver todos os posts">Ver todos os posts</a>
    </div>
  </div>

  <p class="rss-subscribe" style="display: none;">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</section>
<!-- /posts -->

<script type="application/ld+json">
  {
      "@context": "http://schema.org/",
      "@type": "Website",
      "url": "https://evertonstrack.dev/",
      "name": "Everton Strack Blog",
      "author": {
          "type": "Person",
          "name": "Everton Strack",
          "sameAs": [
              "https://www.instagram.com/evertonstrack/",
              "https://twitter.com/evertonstrack",
              "https://www.linkedin.com/in/evertonstrack/"
          ]
      },
      "description": "{{ site.description }}"
  }
</script>
