---
layout: default
---
<!-- Home -->
{{ content }}
<!-- Home -->

<!-- posts -->
<section class="section section-blog">

  <header class="section-header wrapper">
    <div class="wrapper">
      {%- if page.title -%}
        {%- if page.title contains "- Página" -%}
          <h2 class="page-heading">{{ page.title }}</h2>
        {%- else -%}
          <h3 class="page-heading">Últimas postagens</h3>
        {%- endif -%}
      {%- else -%}
        <h3 class="page-heading">Últimas postagens</h3>
      {%- endif -%}

      {%- if page.description -%}
        <p>{{ page.description }}</p>
      {%- endif -%}
    </div>
  </header>

  <div class="wrapper wrapper-blog">


    {%- if paginator.total_pages > 0 -%}
      <div class="post-list">
        {%- for post in paginator.posts -%}
        <article class="post-item {{ post.bodyClass }}">
          <a class="post-link" href="{{ post.url | relative_url }}">

            {% include post-image.html post=post %}

            <div class="post-item__content">
              <strong class="post-meta post-category">
                {%- for tag in post.tags -%}
                  {{tag}}{%- if forloop.index != forloop.length -%}&nbsp;• {% endif %}
                {%- endfor -%}
              </strong>
              <h3>{{ post.title | escape }}</h3>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <time class="post-meta post-date">{% include date.html date=post.date %}</time>
              <p>{{ post.description | escape }}</p>
              {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
            </div>
          </a>
        </article>
        {%- endfor -%}
      </div>

      <p class="rss-subscribe" style="display: none;">subscribe
        <a href="{{ " /feed.xml " | relative_url }}">via RSS</a>
      </p>
    {%- endif -%}
  </div>

  <!-- Pagination -->
  {% include pagination.html paginator=paginator %}
  <!-- /Pagination -->

</section>
<!-- /posts -->


<script type="application/ld+json">
  {
      "@context": "http://schema.org/",
      "@type": "Website",
      "url": "https://evertonstrack.com.br/",
      "name": "Everton Strack Blog",
      "author": {
          "type": "Person",
          "name": "Everton Strack",
          "sameAs": [
              "https://www.instagram.com/evertonstrack/",
              "https://twitter.com/evertonstrack",
              "https://www.linkedin.com/in/evertonstrack/"
          ]
      },
      "description": "{{ site.description }}"
  }
</script>
