---
layout: default
---

<!-- greeatings -->
<section class="section section-full greetings clearfix">
  <div class="wrap">
    <div class="greetings__text">
      <h2><span>Hey.</span> <br /><span>Tudo bem?</span></h2>
    </div>
  <span class="arrow-down"></span>
</section>
<!-- /greeatings -->

<!-- greeatings -->
<section class="section section-full home-about clearfix">
  <div class="wrap">
    <div class="home-about__text">
      <h2>Meu nome é <strong>Everton Strack</strong>, sou <strong>Front-end developer</strong> em aplicações web com grande foco em Design, performance e SEO. </h2>

      <p>Especialista em HTML, CSS e Javascript, com sólido conhecimento em: Angular, React, Grunt, Gulp, design responsivo, web mobile; Trabalhei em projetos com grandes clientes como Tramontina, Boticário, Lacta, LG, Trakinas, Petrobrás, Lojas Renner.</p>

      <p>Sou entusiasta de tecnologia, gosto de ler entre as linhas da indústria de tecnologia e tentar entender as
      motivações por trás de decisões que podem parecer incríveis, irracionais ou puramente idiotas. Também gosto de beleza,
      café medíocre e dias chuvosos.</p>
      <a class="simple-link link-white" href="/sobre" title="Saiba mais sobre Everton Strack">Saiba mais sobre Everton</a>
    </div>
  </div>
</section>
<!-- /greeatings -->

<!-- posts -->
<section class="section section-full home-posts">
  <div class="wrap">
    <!-- {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%} -->

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <div class="post-list-container">
      <div class="latest-post">
        <h2 class="post-list-heading">{{ page.list_title | default: "Últimos posts" }}</h2>
        <div class="post-list">
          {%- for post in site.posts limit:3 -%}
          <article class="post-item {{ post.bodyClass }}">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <time class="post-meta">{% include date.html date=post.date %}</time>
              <div class="post-item__content">
                <h3>{{ post.title | escape }}</h3>
                <p>{{ post.description | escape }}</p>
              </div>
              <div class="tags">
                {%- for tag in post.tags -%}
                  <strong class="tag">{{tag}}</strong>
                {%- endfor -%}
              </div>
              {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
            </a>
          </article>
          {%- endfor -%}
        </div>
      </div>
    </div>
    {%- endif -%}

    <div calss="action-button">
      <a class="button-link link-gray" href="/blog" title="Ver todos os posts">Ver todos os posts</a>
    </div>
  </div>

  <p class="rss-subscribe" style="display: none;">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</section>
<!-- /posts -->

<script>

  function scrollIt(element) {
    window.scrollTo({
      'behavior': 'smooth',
      'left': 0,
      'top': element.offsetTop
    });
  }

  var arrow = document.querySelector('.arrow-down');
  var about = document.querySelector('.home-about');
  arrow.addEventListener('click', function(){
    scrollIt(about);
  });

</script>

<script type="application/ld+json">
  {
      "@context": "http://schema.org/",
      "@type": "Website",
      "url": "https://evertonstrack.com.br/",
      "name": "Everton Strack Blog",
      "author": {
          "type": "Person",
          "name": "Everton Strack",
          "sameAs": [
              "https://www.instagram.com/evertonstrack/",
              "https://twitter.com/evertonstrack",
              "https://www.linkedin.com/in/evertonstrack/"
          ]
      },
      "description": "{{ site.description }}"
  }
</script>
