---
layout: default
comments: true
---

<!-- breadcrumb - rich snippts -->
<div class="breadcrumb hide">
  <div id="a" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemref="b">
    <a href="http://evertonstrack.com.br/" itemprop="url">
      <span itemprop="title">evertonstrack.com.br</span>
    </a> ›
  </div>
  <div id="b" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child">
    <a href="http://evertonstrack.com.br/blog/" itemprop="url">
      <span itemprop="title">Blog</span>
    </a> ›
  </div>
  <div id="b" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child">
    <a href="{{ page.url | prepend: site.baseurl | prepend: site.url }}" itemprop="url">
      <span itemprop="title">{{ page.title | escape }}</span>
    </a> ›
  </div>
</div>
<!-- /breadcrumb - rich snippts -->

<article class="post h-entry post-detail" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header animate" data-color="{{page.color}}">
    <div class="wrapper">
      <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% include date.html date=page.date %}
        </time>
      </p>
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-description">{{ page.description | escape }}</p>
      {%- if page.author -%}
        <p class="post-meta">
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        </p>
      {%- endif -%}
    </div>

    <a class="link-back" href="/blog"></a>

  </header>  

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

{% include share.html %}
{% include author.html %}
{% include comments.html %}