@import "../variables";

.about-page{
  .page-content{
    > .wrapper{
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.content-sobre{
  .post-header{
    display: none;
  }

  .post-content{
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

/* mobile */
@media screen and (max-width: 640px) {

  .content-sobre{

    .section-header{
      margin-bottom: 0;
      padding-top: 50px;
    }

    .section-sobre-everton{
      img{
        float: none;
        margin: 0 auto 30px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  /* about */
  .content-sobre{
    .section-sobre-everton{
      img{
        float: none;
        margin: 0 auto 30px;
        width: 100%;
      }
    }
    .section-sobre-everton{
      font-size: 1.1rem;
    }
  }
  /* end: about */
}
