@import "../variables";

.content-sobre{
  background-color: #F0F0F0;

  .section-header{
    // height: auto;

    // .title-section-container{
    //   margin: 0 auto;

    //   h2, p{
    //     text-align: center;
    //   }
    // }
  }

  .post-header{
    display: none;
  }

  .post-content{
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

/* mobile */
@media screen and (max-width: 640px) {

  .about-page{
    .site-nav .menu-icon>svg{
      fill: #FFF;
    }
  }

  .content-sobre{

    .section-header{
      margin-bottom: 0;
    }

    .section-sobre-everton{
      img{
        float: none;
        margin: 0 auto 30px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  /* about */
  .content-sobre{
    .section-sobre-everton{
      img{
        float: none;
        margin: 0 auto 30px;
        width: 100%;
      }
    }
    .section-sobre-everton{
      font-size: 1.1rem;
    }
  }
  /* end: about */
}
