@import "../variables";

.section-blog{
  .post-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

    .post-item {
      max-width: 48.5%;
      display: flex;
      flex: 1 auto;
    }
  }
}


.pager{
  display: flex;
  justify-content: center;
  margin: 50px 0;
  line-height: 40px;

  a{
    color: var(--text);
  }

  .previous, .next{
    margin: 0 10px;

    &.disabled{
      opacity: 0.5;
      cursor: default;
      text-decoration: none;
    }
  }

  .pager__pages{
    display: flex;

    .pager__pages-item{
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid var(--text);
      color: var(--text);
      border-radius: 5px;
      margin: 0 5px;

      &[aria-selected="true"]{
        background-color: var(--text);
        color: var(--background);
      }
    }
  }
}


/* tablet */
@media screen and (max-width: 1200px) {
  .section-blog {
    .post-list{
      .post-item {
        max-width: 100%;
        width: 100%;
        padding: 0;

        .post-link{
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mobile-hidden{
    display: none !important;
  }

  .section-blog .post-list{
    margin-left: 0;
    margin-right: 0;
  }
}
