@import "../variables";

/* blog */

.blog-page{
  .site-header{
    background-color: #25262a;
    
    
    .site-nav .page-link,
    .site-title:visited,
    .site-title{
      // color: #2e2e2e;
      color: #FFF;
    }
  }
}

.section-blog{

  .section-header{
    background-color: #25262a;
    color: #FFF;
  }

  .post-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    .post-item {
      max-width: 33.3%;
      padding: 10px;
      display: flex;
      flex: 1 auto;
    }
  }
}

/* tablet */
@media screen and (max-width: 1200px) {
  .section-blog {
    .post-list{
      .post-item {
        max-width: 100%;
        padding: 0;

        .post-link{
          width: 100%;
        }
      }
    }
  }
}