@import "../variables";

.home-page{
  .button-link {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  .home-posts{
    margin-bottom: 50px;

    .post-list-heading{
      text-align: center;
      margin-bottom: 40px;
    }
  }
}

.author-resume{
  padding: 25px 0 70px;
  margin-bottom: 50px;
  position: relative;

  article{
    display: flex;
    padding: 20px;
    background-color: var(--background_alt);
    margin: 0 auto;
    border-radius: 8px;
  }

  &:after{
    width: 40%;
    height: 7px;
    content: "";
    display: block;
    border-radius: 5px;
    background-color:  var(--background_alt);
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
  }

  &:after{
   transform: translateX(-50%);
  }

  article{
    display: flex;
    align-items: center;
    align-items: center;
  }

  figure{
    margin-right: 25px;
    img{
      max-width: 150px;
    }
  }

  h2{
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767.9px) {
  .home-page{
    .home-posts{
      .post-list-heading{
        font-size: 30px;
      }
    }
  }
  .author-resume{
    padding-top: 0;

    article{
      flex-direction: column;
      align-items: center;

      .author-resume__text{
        text-align: center;
      }
    }

    figure{
      margin-right: 0;

      img{
        max-width: 100px;
      }
    }
  }
  .latest-post{
    .post-item{
      .post-link{
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
